[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "This contains the code which I have written according to the book "
[access "refs/*"]
	owner = group user/RAHUL RAMACHANDRAN (rahulr84)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/RAHUL RAMACHANDRAN (rahulr84)
	label-Verified = -1..+1 group user/RAHUL RAMACHANDRAN (rahulr84)
	push = group user/RAHUL RAMACHANDRAN (rahulr84)
	read = group user/RAHUL RAMACHANDRAN (rahulr84)
	rebase = group user/RAHUL RAMACHANDRAN (rahulr84)
	removeReviewer = group user/RAHUL RAMACHANDRAN (rahulr84)
	submit = group user/RAHUL RAMACHANDRAN (rahulr84)
[access "refs/heads/*"]
	create = group user/RAHUL RAMACHANDRAN (rahulr84)
	push = +force group user/RAHUL RAMACHANDRAN (rahulr84)
	pushMerge = group user/RAHUL RAMACHANDRAN (rahulr84)
	read = group user/RAHUL RAMACHANDRAN (rahulr84)
[access "refs/tags/*"]
	push = group user/RAHUL RAMACHANDRAN (rahulr84)
	push = +force group user/RAHUL RAMACHANDRAN (rahulr84)
